Source 1 - Connection and Exploration 
By D√©borah Leclercq

Import needed libraries

In [1]:
import pandas as pd
import requests
import openpyxl

In [2]:
# URL du fichier Excel sur le site de l'INSEE
url = "https://www.insee.fr/fr/statistiques/fichier/5763593/IREF_SECUR21-F25.xlsx"  # URL exacte du fichier xlsx

# Nom du fichier local
file_path = "datasource1/IREF_SECUR21-F25.xlsx"

# T√©l√©charger le fichier
response = requests.get(url)
if response.status_code == 200:
    with open(file_path, "wb") as file:
        file.write(response.content)
    print(f"Fichier t√©l√©charg√© avec succ√®s : {file_path}")
else:
    print(f"Erreur lors du t√©l√©chargement : {response.status_code}")

# Charger le fichier avec pandas (pour v√©rifier)
df = pd.read_excel(file_path)
print(df.head())  # Affiche les premi√®res lignes pour v√©rifier

Fichier t√©l√©charg√© avec succ√®s : datasource1/IREF_SECUR21-F25.xlsx
  Figure 1 - Taux moyen d‚Äôincidents graves pour 1¬†000 √©l√®ves dans les coll√®ges et les lyc√©es, en 2018-2019  \
0                                                NaN
1                                           Coll√®ges
2                                              LEGT1
3                              Lyc√©es professionnels
4                                          Ensemble

  Unnamed: 1
0       en ‚Ä∞
1       13.2
2        4.5
3       22.7
4       12.2

V√©rifier l'int√©gralit√© des donn√©es stock√©es dans le fichier

In [3]:
# Lire tous les onglets du fichier
xls = pd.ExcelFile(file_path)

# Afficher les noms des onglets
print(f"Onglets disponibles : {xls.sheet_names}")

# Cr√©er un DataFrame pour chaque onglet
dataframes = {}  # Dictionnaire pour stocker les DataFrames
for sheet_name in xls.sheet_names:
    df = pd.read_excel(xls, sheet_name=sheet_name)
    dataframes[sheet_name] = df  # Stocke le DataFrame sous le nom de l'onglet
    print(f"Donn√©es charg√©es pour l'onglet : {sheet_name} ({df.shape[0]} lignes, {df.shape[1]} colonnes)")

Onglets disponibles : ['Figure 1', 'Figure 2', 'Figure 3', 'Figure 4', 'Figure 5']
Donn√©es charg√©es pour l'onglet : Figure 1 (9 lignes, 2 colonnes)
Donn√©es charg√©es pour l'onglet : Figure 2 (15 lignes, 2 colonnes)
Donn√©es charg√©es pour l'onglet : Figure 3 (10 lignes, 3 colonnes)
Donn√©es charg√©es pour l'onglet : Figure 4 (28 lignes, 10 colonnes)
Donn√©es charg√©es pour l'onglet : Figure 5 (18 lignes, 2 colonnes)

Stocker les df pour chaque onglet

In [4]:
df_figure_1 = dataframes['Figure 1']
df_figure_2 = dataframes['Figure 2']
df_figure_3 = dataframes['Figure 3']
df_figure_4 = dataframes['Figure 4']
df_figure_5 = dataframes['Figure 5']

Visualisation des donn√©es contenues

In [5]:
df_figure_1.head()

,"Figure 1 - Taux moyen d‚Äôincidents graves pour 1¬†000 √©l√®ves dans les coll√®ges et les lyc√©es, en 2018-2019",Unnamed: 1
0,NaN,en ‚Ä∞
1,Coll√®ges,13.2
2,LEGT1,4.5
3,Lyc√©es professionnels,22.7
4,Ensemble,12.2

In [6]:
df_figure_2.head()

,"Figure 2 - Nature des incidents graves dans les coll√®ges et les lyc√©es, en 2018-2019",Unnamed: 1
0,NaN,en %
1,Atteintes aux personnes,NaN
2,Violences verbales,41.8
3,Violences physiques,29.8
4,Autres atteintes aux personnes1,7.7

In [7]:
df_figure_3

,"Figure 3 - R√©partition des coll√®ges et des lyc√©es en fonction du nombre d'incidents graves, en 2018-2019",Unnamed: 1,Unnamed: 2
0,NaN,NaN,en %
1,,Aucun incident,10 ou plus
2,Coll√®ges,30,19.613464
3,LEGT1,39,14.160569
4,Lyc√©es professionnels,28,28.265801
5,Ensemble,32,19
6,1. Lyc√©es d'enseignement g√©n√©ral et technologique,NaN,NaN
7,Lecture : 32 % des chefs d'√©tablissement de co...,NaN,NaN
8,"Champ¬†: France, ensemble des √©tablissements pu...",NaN,NaN
9,"Source : MENJS-DEPP, enqu√™te Sivis 2018-2019.",NaN,NaN

In [8]:
df_figure_4.head()

,Figure 4 - Part de coll√©giens et de lyc√©ens d√©clarant des violences au cours de l'ann√©e scolaire,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,en %
1,NaN,Coll√©giens en 2016-2017,NaN,NaN,NaN,Lyc√©ens en 2017-2018,NaN,NaN,NaN,NaN
2,NaN,Ensemble,Filles,Gar√ßons,√âtablissement\nREP +,Ensemble,Filles,Gar√ßons,Lyc√©e\nprofessionnel,LEGT1
3,Atteintes aux personnes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Atteinte physique2,46.71446,39.86479,53.35957,48.09603,12.48743,12.17944,12.80519,15.79967,11.26652

In [9]:
df_figure_5.head()

,Figure 5 - Part de personnels de coll√®ges et de lyc√©es d√©clarant des violences au cours de l'ann√©e scolaire 2018-2019,Unnamed: 1
0,NaN,en %
1,Atteintes aux personnes,NaN
2,Refus ou contestation d'enseignement,35.41521
3,Moqueries ou insultes (y compris par des gestes),24.14305
4,Menaces sans arme (dont par internet),11.93326

Nettoyer chaque onglet afin de retirer les lignes inutiles

In [10]:
df_figure_1_cleaned = pd.read_excel("datasource1/IREF_SECUR21-F25.xlsx", sheet_name="Figure 1", skiprows=1)
df_figure_2_cleaned = pd.read_excel("datasource1/IREF_SECUR21-F25.xlsx", sheet_name="Figure 2", skiprows=2)
df_figure_3_cleaned = pd.read_excel("datasource1/IREF_SECUR21-F25.xlsx", sheet_name="Figure 3", skiprows=2)
df_figure_4_cleaned = pd.read_excel("datasource1/IREF_SECUR21-F25.xlsx", sheet_name="Figure 4", skiprows=2)
df_figure_5_cleaned = pd.read_excel("datasource1/IREF_SECUR21-F25.xlsx", sheet_name="Figure 5", skiprows=2)

Figure_1

In [11]:
# nommer les colonnes
df_figure_1_cleaned.columns = ["Type_etablissements","Taux_moyens_incidents_graves_en%"]
# Isoler le tableau avec les donn√©es 
df_figure_1_cleaned = df_figure_1_cleaned.loc[0:3]
# renommer certaines informations pour plus de clart√© et en accord avec les informations contenues dans les notes
df_figure_1_cleaned["Type_etablissements"] = df_figure_1_cleaned["Type_etablissements"].replace({
    "LEGT1": "Lyc√©es g√©n√©raux et technologiques"})

In [12]:
# visualiser le tableau final
df_figure_1_cleaned

                 Type_etablissements  Taux_moyens_incidents_graves_en%
0                           Coll√®ges                              13.2
1  Lyc√©es g√©n√©raux et technologiques                               4.5
2              Lyc√©es professionnels                              22.7
3                          Ensemble                               12.2

Figure_2

In [13]:
# renommer les colonnes
df_figure_2_cleaned = df_figure_2_cleaned.rename(columns={"Atteintes aux personnes": "Nature_des_incidents_graves","Unnamed: 1": "Atteinte_aux_personnes_en%"})
# Isoler le tableau avec les donn√©es 
df_figure_2_cleaned = df_figure_2_cleaned.loc[0:6]
# renommer certaines informations pour plus de clart√© et en accord avec les informations contenues dans les notes
df_figure_2_cleaned["Nature_des_incidents_graves"] = df_figure_2_cleaned["Nature_des_incidents_graves"].replace({
    "Autres atteintes aux personnes1": "Atteinte √† la vie priv√©e (via les r√©seaux sociaux notamment), violence sexuelle, racket, happy slapping et bizutage",
    "Atteintes aux biens2" : "Vol, dommage aux locaux ou au mat√©riel et dommage aux biens personnels",
    "Autres atteintes3" : "Port d'arme blanche ou objet dangereux, port d'arme √† feu (sans violence),  intrusion sans violence, suicide ou tentative de suicide et autre fait de violence dont atteinte √† la la√Øcit√©"
    })

In [14]:
# visualiser le tableau final
df_figure_2_cleaned

,Nature_des_incidents_graves,Atteinte_aux_personnes_en%
0,Violences verbales,41.8
1,Violences physiques,29.8
2,Atteinte √† la vie priv√©e (via les r√©seaux soci...,7.7
3,"Vol, dommage aux locaux ou au mat√©riel et domm...",7.1
4,Atteintes √† la s√©curit√©,NaN
5,Consommation d'alcool/stup√©fiants ou trafic de...,4.7
6,"Port d'arme blanche ou objet dangereux, port d...",8.8

Figure_3

In [16]:
# renommer les colonnes
df_figure_3_cleaned = df_figure_3_cleaned.rename(columns={" ": "R√©partition des coll√®ges et des lyc√©es en fonction du nombre d'incidents graves en %"})
# Isoler le tableau avec les donn√©es 
df_figure_3_cleaned = df_figure_3_cleaned.loc[0:3]
# renommer certaines informations pour plus de clart√© et en accord avec les informations contenues dans les notes
df_figure_3_cleaned["R√©partition des coll√®ges et des lyc√©es en fonction du nombre d'incidents graves en %"] = df_figure_3_cleaned["R√©partition des coll√®ges et des lyc√©es en fonction du nombre d'incidents graves en %"].replace({
    "LEGT1": "Lyc√©es g√©n√©raux et technologiques"
    })

In [17]:
#visualiser le tableau final
df_figure_3_cleaned.head()

,R√©partition des coll√®ges et des lyc√©es en fonction du nombre d'incidents graves en %,Aucun incident,10 ou plus
0,Coll√®ges,30.0,19.613464
1,Lyc√©es g√©n√©raux et technologiques,39.0,14.160569
2,Lyc√©es professionnels,28.0,28.265801
3,Ensemble,32.0,19.000000

Figure_4

In [18]:
#visualiser le tableau initial
df_figure_4_cleaned.head()

,Unnamed: 0,Coll√©giens en 2016-2017,Unnamed: 2,Unnamed: 3,Unnamed: 4,Lyc√©ens en 2017-2018,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,Ensemble,Filles,Gar√ßons,√âtablissement\nREP +,Ensemble,Filles,Gar√ßons,Lyc√©e\nprofessionnel,LEGT1
1,Atteintes aux personnes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Atteinte physique2,46.71446,39.86479,53.35957,48.09603,12.48743,12.17944,12.80519,15.79967,11.26652
3,dont cible de lancers d'objets,13.5,11.23,15.7,17.03,4.4,3.58,5.26,6.16,3.83
4,Insulte √† caract√®re discriminatoire3,27.49805,27.29021,27.67206,30.45007,20.12482,25.76666,14.15106,18.92168,21.67543

In [19]:
df_figure_4_cleaned.columns

Index(['Unnamed: 0', 'Coll√©giens en 2016-2017', 'Unnamed: 2', 'Unnamed: 3',
       'Unnamed: 4', 'Lyc√©ens en 2017-2018', 'Unnamed: 6', 'Unnamed: 7',
       'Unnamed: 8', 'Unnamed: 9'],
      dtype='object')

In [21]:
# renommer les colonnes
df_figure_4_cleaned = df_figure_4_cleaned.rename(columns={"Unnamed: 0": "Types_d_atteintes en %","Unnamed: 2":"Filles","Unnamed: 3":"Gar√ßons", "Unnamed: 4":"Etablissement_REP+", "Unnamed: 8":"Lyc√©e_professionnel", "Unnamed: 9":"Lyc√©es_g√©n√©raux_et_technologiques"})
# Isoler le tableau avec les donn√©es 
df_figure_4_cleaned = df_figure_4_cleaned.loc[0:15]
# renommer certaines informations pour plus de clart√© et en accord avec les informations contenues dans les notes
df_figure_4_cleaned["Types_d_atteintes en %"] = df_figure_4_cleaned["Types_d_atteintes en %"].replace({
    "Atteinte physique2": "les coups, bousculades et le fait d'√™tre la cible de lancers d'objets. Sp√©cifiquement pour les coll√©giens, le fait d'avoir particip√© √† une bagarre collective",
    "Insulte √† caract√®re discriminatoire3" : "les insultes en lien avec l'origine, la couleur de peau, le sexe et le lieu de r√©sidence. Sp√©cifiquement pour les coll√©giens, les insultes li√©es √† l'apparence physique et sp√©cifiquement pour les lyc√©ens, les insultes homophobes",
    "Cyber-violence4" : "Au coll√®ge, les violences film√©es avec un t√©l√©phone portable (¬´ happy slapping ¬ª), le fait de recevoir des photos ou vid√©os humiliantes, la diffusion de rumeurs par internet et l'usurpation d'identit√© sur internet.Au lyc√©e, le fait d'√™tre victime de vid√©os, de photos ou de rumeurs humiliantes sur internet, d'√™tre injuri√© ou moqu√© sur un r√©seau social et l'usurpation d'identit√© sur internet.",
    "Violence √† caract√®re sexuel5":"Pour les coll√©giens le voyeurisme (dans les toilettes ou les vestiaires), les caresses forc√©es et les baisers forc√©s. Pour les lyc√©ens, les agressions ou coups pour des raisons sexistes, des comportements d√©plac√©s √† caract√®re sexuel ou des violences graves √† caract√®re sexuel."
    })

In [22]:
# üîπ DataFrame pour les coll√©giens
df_figure4_collegiens = df_figure_4_cleaned.iloc[:, :5].copy()
# Retrait de la ligne inutile avant les donn√©es
df_figure4_collegiens = df_figure4_collegiens.loc[1:]

In [23]:
df_figure4_collegiens.head()

,Types_d_atteintes en %,Coll√©giens en 2016-2017,Filles,Gar√ßons,Etablissement_REP+
1,Atteintes aux personnes,NaN,NaN,NaN,NaN
2,"les coups, bousculades et le fait d'√™tre la ci...",46.71446,39.86479,53.35957,48.09603
3,dont cible de lancers d'objets,13.5,11.23,15.7,17.03
4,"les insultes en lien avec l'origine, la couleu...",27.49805,27.29021,27.67206,30.45007
5,dont par rapport √† l'origine ou la couleur de ...,11.55651,10.41196,12.65221,18.16783

In [24]:
# üîπ DataFrame pour les lyc√©ens
df_figure4_lyceens = df_figure_4_cleaned.iloc[:, [0] + list(range(5, 10))].copy()
# renommer les deux colonnes unnamed
df_figure4_lyceens = df_figure4_lyceens.rename(columns={"Unnamed: 6": "Filles","Unnamed: 7":"Gar√ßons"})
# Retrait de la ligne inutile avant les donn√©es
df_figure4_lyceens = df_figure4_lyceens.loc[1:]

In [25]:
df_figure4_lyceens.head()

,Types_d_atteintes en %,Lyc√©ens en 2017-2018,Filles,Gar√ßons,Lyc√©e_professionnel,Lyc√©es_g√©n√©raux_et_technologiques
1,Atteintes aux personnes,NaN,NaN,NaN,NaN,NaN
2,"les coups, bousculades et le fait d'√™tre la ci...",12.48743,12.17944,12.80519,15.79967,11.26652
3,dont cible de lancers d'objets,4.4,3.58,5.26,6.16,3.83
4,"les insultes en lien avec l'origine, la couleu...",20.12482,25.76666,14.15106,18.92168,21.67543
5,dont par rapport √† l'origine ou la couleur de ...,7.13,6.56,7.73,8.59,6.6

Figure_5

In [26]:
df_figure_5_cleaned

                              Atteintes aux personnes  Unnamed: 1
0                Refus ou contestation d'enseignement   35.415210
1    Moqueries ou insultes (y compris par des gestes)   24.143050
2               Menaces sans arme (dont par internet)   11.933260
3                      Mise √† l'√©cart/marginalisation    7.544594
4            Bouscul√© intentionnellement et/ou frapp√©    3.451657
5                                         Harc√®lement    2.404056
6                                   Menaces avec arme    0.152780
7                                  Agression sexuelle    0.079997
8     Frapp√© avec une arme et/ou bless√© avec une arme    0.030617
9                                 Atteintes aux biens         NaN
10         Vol ou d√©gradation du mat√©riel p√©dagogique    9.075912
11                        Vol d'objet(s) personnel(s)    2.597182
12  D√©gradation du moyen de locomotion pour venir ...    1.968342
13  Lecture : 35,4 % des personnels de coll√®ges et...         NaN
14  Champ : France, ensemble des personnels du sec...         NaN
15  Source : MENJS-DEPP, enqu√™te nationale de clim...         NaN

In [27]:
# renommer les deux colonnes
df_figure_5_cleaned = df_figure_5_cleaned.rename(columns={"Unnamed: 1":"Part de personnels de coll√®ges et de lyc√©es d√©clarant des violences au cours de l'ann√©e scolaire 2018-2019 en%"})
# Isoler le tableau avec les donn√©es 
df_figure_5_cleaned = df_figure_5_cleaned.loc[0:12]

In [28]:
df_figure_5_cleaned

,Atteintes aux personnes,Part de personnels de coll√®ges et de lyc√©es d√©clarant des violences au cours de l'ann√©e scolaire 2018-2019 en%
0,Refus ou contestation d'enseignement,35.415210
1,Moqueries ou insultes (y compris par des gestes),24.143050
2,Menaces sans arme (dont par internet),11.933260
3,Mise √† l'√©cart/marginalisation,7.544594
4,Bouscul√© intentionnellement et/ou frapp√©,3.451657
5,Harc√®lement,2.404056
6,Menaces avec arme,0.152780
7,Agression sexuelle,0.079997
8,Frapp√© avec une arme et/ou bless√© avec une arme,0.030617
9,Atteintes aux biens,NaN
10,Vol ou d√©gradation du mat√©riel p√©dagogique,9.075912
11,Vol d'objet(s) personnel(s),2.597182
12,D√©gradation du moyen de locomotion pour venir ...,1.968342

Sauvegarder tous ces df en csv

In [29]:
df_figure_1_cleaned.to_csv("datasource1cleaned/Source1Figure1.csv", index=False)
df_figure_2_cleaned.to_csv("datasource1cleaned/Source1Figure2.csv", index=False)
df_figure_3_cleaned.to_csv("datasource1cleaned/Source1Figure3.csv", index=False)
df_figure4_collegiens.to_csv("datasource1cleaned/Source1Figure4_collegiens.csv", index=False)
df_figure4_lyceens.to_csv("datasource1cleaned/Source1Figure4_lyceens.csv", index=False)
df_figure_5_cleaned.to_csv("datasource1cleaned/Source1Figure5.csv", index=False)