# GENERATION FAKE DATA

Alimentation des tables d'analyse avant réception des "vraies" données

In [4]:
import pandas as pd
import numpy as np

### DIM_ELEVE

In [5]:
df_eleve = pd.DataFrame()

In [6]:
df_eleve['ID_ELEVE'] = np.arange(1, 10001)

In [7]:
df_eleve['ID_ELEVE'] = df_eleve['ID_ELEVE'].apply(lambda x: 'E' + str(x).zfill(5))

In [8]:
df_eleve['GENRE'] = np.random.choice(['m', 'f'], size=10000)

In [9]:
df_eleve['DATE_NAISSANCE'] = np.random.choice([
    '01/01/2015', '01/01/2016', '01/01/2017', '01/01/2014', '01/01/2013',
    '01/01/2012', '01/01/2011', '01/01/2010', '01/01/2009'
], size=10000)

In [10]:
#df_classe = pd.read_csv("./data/DIM_CLASSE.csv")

In [11]:
#df_eleve['ID_CLASSE'] = np.random.choice(df_classe['ID_CLASSE'], size=10000)

In [12]:
df_eleve.head()

  ID_ELEVE GENRE DATE_NAISSANCE
0   E00001     m     01/01/2017
1   E00002     f     01/01/2010
2   E00003     f     01/01/2012
3   E00004     f     01/01/2014
4   E00005     f     01/01/2010

### DIM_CLASSE

In [13]:
# df_classe = pd.DataFrame()

In [14]:

# df_classe['ID_CLASSE'] = np.arange(1, 501)
# df_classe['ID_CLASSE'] = df_classe['ID_CLASSE'].apply(lambda x: 'C' + str(x).zfill(3))

In [15]:
# df_classe['NB_ELEVES'] = np.random.randint(10, 30, size=500)

In [16]:
# df_classe['NIVEAU'] = np.random.choice(['CP', 'CE1', 'CE2', 'CM1', 'CM2'], size=500)

### DIM_ENSEIGNANT

In [17]:
df_enseignant = pd.DataFrame()

In [18]:
df_enseignant['ID_ENSEIGNANT'] = np.arange(1, 101)
df_enseignant['ID_ENSEIGNANT'] = df_enseignant['ID_ENSEIGNANT'].apply(lambda x: 'ENS' + str(x).zfill(3))

In [20]:
# df_enseignant['ID_CLASSE'] = np.random.choice(df_classe['ID_CLASSE'], size=100)

### DIM_ETABLISSEMENT

In [21]:
df_etablissement = pd.DataFrame()

In [22]:
df_etablissement['ID_ETABLISSEMENT'] = np.arange(1, 11)
df_etablissement['ID_ETABLISSEMENT'] = df_etablissement['ID_ETABLISSEMENT'].apply(lambda x: 'ETAB' + str(x).zfill(2))

In [23]:
df_etablissement['TYPE'] = np.random.choice(['ecole', 'college'], size=10)

In [24]:
df_etablissement['ZIPCODE'] = np.random.randint(10000, 99999, size=10)

In [25]:
df_etablissement['ACADEMIE'] = np.random.choice(['Paris', 'Lyon', 'Marseille', 'Bordeaux', 'Toulouse'], size=10)

### DIM_COMMUNE

In [26]:
df_commune = pd.read_csv('./data/20230823-communes-departement-region.csv')

In [27]:
df_commune.shape

(39201, 15)

In [28]:
df_commune.head()

,code_commune_INSEE,nom_commune_postal,code_postal,libelle_acheminement,ligne_5,latitude,longitude,code_commune,article,nom_commune,nom_commune_complet,code_departement,nom_departement,code_region,nom_region
0,1001,L ABERGEMENT CLEMENCIAT,1400,L ABERGEMENT CLEMENCIAT,NaN,46.153426,4.926114,1.0,L',Abergement-Clémenciat,L'Abergement-Clémenciat,1,Ain,84.0,Auvergne-Rhône-Alpes
1,1002,L ABERGEMENT DE VAREY,1640,L ABERGEMENT DE VAREY,NaN,46.009188,5.428017,2.0,L',Abergement-de-Varey,L'Abergement-de-Varey,1,Ain,84.0,Auvergne-Rhône-Alpes
2,1004,AMBERIEU EN BUGEY,1500,AMBERIEU EN BUGEY,NaN,45.960848,5.372926,4.0,NaN,Ambérieu-en-Bugey,Ambérieu-en-Bugey,1,Ain,84.0,Auvergne-Rhône-Alpes
3,1005,AMBERIEUX EN DOMBES,1330,AMBERIEUX EN DOMBES,NaN,45.996180,4.912273,5.0,NaN,Ambérieux-en-Dombes,Ambérieux-en-Dombes,1,Ain,84.0,Auvergne-Rhône-Alpes
4,1006,AMBLEON,1300,AMBLEON,NaN,45.749499,5.594320,6.0,NaN,Ambléon,Ambléon,1,Ain,84.0,Auvergne-Rhône-Alpes

In [29]:
df_pop = pd.read_excel('./data/POPULATION_MUNICIPALE_COMMUNES_FRANCE.xlsx')

In [30]:
df_pop.shape

(34995, 15)

In [31]:
df_pop.head()

,objectid,reg,dep,cv,codgeo,libgeo,p13_pop,p14_pop,p15_pop,p16_pop,p17_pop,p18_pop,p19_pop,p20_pop,p21_pop
0,115658,52,85,8502,85062,Châteauneuf,968.0,993.0,1013.0,1027.0,1056,1085.0,1114.0,1118.0,1134.0
1,115659,26,58,5808,58300,Urzy,1839.0,1835.0,1828.0,1802.0,1775,1749.0,1746.0,1747.0,1742.0
2,115660,43,70,7012,70137,Chassey-lès-Montbozon,218.0,217.0,216.0,215.0,217,215.0,215.0,220.0,225.0
3,115661,21,51,5123,51649,Vitry-le-François,13174.0,13144.0,12805.0,12552.0,12133,11743.0,11376.0,11458.0,11454.0
4,115662,11,78,7811,78638,Vaux-sur-Seine,4749.0,4715.0,4788.0,4857.0,4927,4929.0,5010.0,5020.0,5083.0

In [32]:
pd.merge(df_commune, df_pop, left_on='code_commune_INSEE', right_on='codgeo', how='inner').shape

(34374, 30)

In [33]:
df_communes_full = pd.merge(df_commune, df_pop, left_on='code_commune_INSEE', right_on='codgeo', how='inner')

### FACT_REPONSE

In [34]:
df_fact_reponse = pd.DataFrame()

In [35]:
df_fact_reponse['ID_LOG'] = np.arange(1, 100001)

In [36]:
dim_reponse = pd.read_csv('./data/DIM_REPONSE.csv')

In [37]:
df_fact_reponse['KEY_REPONSE'] = np.random.choice(dim_reponse['KEY_REPONSE'], size=100000)

In [38]:
# df_eleve = pd.read_csv('./data/DIM_ELEVE.csv')

In [39]:
df_fact_reponse['ID_REPONDANT'] = np.random.choice(df_eleve['ID_ELEVE'].head(5000), size=100000)

In [40]:
df_fact_reponse = df_fact_reponse.sort_values("ID_REPONDANT")

# Date unique per ID_REPONDANT

In [48]:
date_range = pd.date_range(start='01/01/2025', periods=200, freq='d')

In [49]:
df_fact_reponse['DATE_TIME'] = np.vstack(df_fact_reponse.groupby("ID_REPONDANT").apply(
    lambda x: [np.random.choice(date_range).reshape(-1,1)]*len(x)
)).flatten()

/tmp/ipykernel_3948245/285953498.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_fact_reponse['DATE_TIME'] = np.vstack(df_fact_reponse.groupby("ID_REPONDANT").apply(

In [50]:
df_fact_reponse.query("ID_REPONDANT.eq('E04357')")

       ID_LOG KEY_REPONSE ID_REPONDANT  DATE_TIME
78806   78807     C_3_2_b       E04357 2025-06-03
16167   16168     D_1_1_h       E04357 2025-07-05
1334     1335     A_1_2_k       E04357 2025-05-01
97734   97735     D_2_1_e       E04357 2025-01-16
73225   73226     B_2_1_f       E04357 2025-05-08
3324     3325     A_3_1_g       E04357 2025-04-17
39970   39971     D_2_1_e       E04357 2025-05-21
18947   18948     D_3_1_b       E04357 2025-02-20
10700   10701     B_3_1_d       E04357 2025-04-07
74670   74671     A_3_1_f       E04357 2025-04-20
13364   13365     D_1_1_f       E04357 2025-02-16
31299   31300     D_1_2_e       E04357 2025-04-24
35848   35849     C_3_1_a       E04357 2025-05-20
62159   62160     D_3_1_c       E04357 2025-03-16
53769   53770     C_3_2_e       E04357 2025-02-13
85316   85317    Pr_C_1_c       E04357 2025-01-19
78526   78527     A_1_1_a       E04357 2025-01-02
59659   59660     B_2_2_g       E04357 2025-06-02
73715   73716     D_3_2_d       E04357 2025-01-10
99231   99232    Pr_C_1_c       E04357 2025-01-10
49824   49825     A_1_1_h       E04357 2025-02-08
42067   42068     A_3_2_c       E04357 2025-05-22
56922   56923    Pr_C_1_a       E04357 2025-05-02
35316   35317     A_3_2_d       E04357 2025-05-27
95619   95620     D_3_2_b       E04357 2025-01-06
24862   24863     A_1_3_f       E04357 2025-05-26

In [51]:
df_fact_reponse = df_fact_reponse.sample(frac=1)

### EXPORT

In [52]:
df_eleve.to_csv('./data/DIM_ELEVE.csv', index=False)
# df_classe.to_csv('./data/DIM_CLASSE.csv', index=False)
df_enseignant.to_csv('./data/DIM_ENSEIGNANT.csv', index=False)
df_etablissement.to_csv('./data/DIM_ETABLISSEMENT.csv', index=False)
df_communes_full.to_csv('./data/DIM_COMMUNE.csv', index=False)
df_fact_reponse.to_csv('./data/FACT_REPONSE.csv', index=False)