# GENERATION FAKE DATA

Alimentation des tables d'analyse avant réception des "vraies" données

In [1]:
import pandas as pd
import numpy as np

### DIM_ELEVE

In [2]:
df_eleve = pd.DataFrame()

In [ ]:
df_eleve['ID_ELEVE'] = np.arange(1, 10001)

In [7]:
df_eleve['ID_ELEVE'] = df_eleve['ID_ELEVE'].apply(lambda x: 'E' + str(x).zfill(5))

In [4]:
df_eleve['GENRE'] = np.random.choice(['m', 'f'], size=10000)

In [5]:
df_eleve['DATE_NAISSANCE'] = np.random.choice(['01/01/2015', '01/01/2016', '01/01/2017', '01/01/2014', '01/01/2013'], size=10000)

In [17]:
df_eleve['ID_CLASSE'] = np.random.choice(df_classe['ID_CLASSE'], size=10000)

In [8]:
df_eleve.head()

  ID_ELEVE GENRE DATE_NAISSANCE
0   E00001     m     01/01/2014
1   E00002     m     01/01/2015
2   E00003     m     01/01/2014
3   E00004     f     01/01/2013
4   E00005     f     01/01/2015

### DIM_CLASSE

In [9]:
df_classe = pd.DataFrame()

In [10]:
df_classe['ID_CLASSE'] = np.arange(1, 501)
df_classe['ID_CLASSE'] = df_classe['ID_CLASSE'].apply(lambda x: 'C' + str(x).zfill(3))

In [11]:
df_classe['NB_ELEVES'] = np.random.randint(10, 30, size=500)

In [13]:
df_classe['NIVEAU'] = np.random.choice(['CP', 'CE1', 'CE2', 'CM1', 'CM2'], size=500)

### DIM_ENSEIGNANT

In [14]:
df_enseignant = pd.DataFrame()

In [15]:
df_enseignant['ID_ENSEIGNANT'] = np.arange(1, 101)
df_enseignant['ID_ENSEIGNANT'] = df_enseignant['ID_ENSEIGNANT'].apply(lambda x: 'ENS' + str(x).zfill(3))

In [16]:
df_enseignant['ID_CLASSE'] = np.random.choice(df_classe['ID_CLASSE'], size=100)

### DIM_ETABLISSEMENT

In [18]:
df_etablissement = pd.DataFrame()

In [19]:
df_etablissement['ID_ETABLISSEMENT'] = np.arange(1, 11)
df_etablissement['ID_ETABLISSEMENT'] = df_etablissement['ID_ETABLISSEMENT'].apply(lambda x: 'ETAB' + str(x).zfill(2))

In [20]:
df_etablissement['TYPE'] = np.random.choice(['ecole', 'college'], size=10)

In [21]:
df_etablissement['ZIPCODE'] = np.random.randint(10000, 99999, size=10)

In [22]:
df_etablissement['ACADEMIE'] = np.random.choice(['Paris', 'Lyon', 'Marseille', 'Bordeaux', 'Toulouse'], size=10)

### DIM_COMMUNE

In [23]:
df_commune = pd.read_csv('./data/20230823-communes-departement-region.csv')

In [31]:
df_commune.shape

(39201, 15)

In [25]:
df_commune.head()

,code_commune_INSEE,nom_commune_postal,code_postal,libelle_acheminement,ligne_5,latitude,longitude,code_commune,article,nom_commune,nom_commune_complet,code_departement,nom_departement,code_region,nom_region
0,1001,L ABERGEMENT CLEMENCIAT,1400,L ABERGEMENT CLEMENCIAT,NaN,46.153426,4.926114,1.0,L',Abergement-Clémenciat,L'Abergement-Clémenciat,1,Ain,84.0,Auvergne-Rhône-Alpes
1,1002,L ABERGEMENT DE VAREY,1640,L ABERGEMENT DE VAREY,NaN,46.009188,5.428017,2.0,L',Abergement-de-Varey,L'Abergement-de-Varey,1,Ain,84.0,Auvergne-Rhône-Alpes
2,1004,AMBERIEU EN BUGEY,1500,AMBERIEU EN BUGEY,NaN,45.960848,5.372926,4.0,NaN,Ambérieu-en-Bugey,Ambérieu-en-Bugey,1,Ain,84.0,Auvergne-Rhône-Alpes
3,1005,AMBERIEUX EN DOMBES,1330,AMBERIEUX EN DOMBES,NaN,45.996180,4.912273,5.0,NaN,Ambérieux-en-Dombes,Ambérieux-en-Dombes,1,Ain,84.0,Auvergne-Rhône-Alpes
4,1006,AMBLEON,1300,AMBLEON,NaN,45.749499,5.594320,6.0,NaN,Ambléon,Ambléon,1,Ain,84.0,Auvergne-Rhône-Alpes

In [27]:
df_pop = pd.read_excel('./data/POPULATION_MUNICIPALE_COMMUNES_FRANCE.xlsx')

In [32]:
df_pop.shape

(34995, 15)

In [28]:
df_pop.head()

,objectid,reg,dep,cv,codgeo,libgeo,p13_pop,p14_pop,p15_pop,p16_pop,p17_pop,p18_pop,p19_pop,p20_pop,p21_pop
0,115658,52,85,8502,85062,Châteauneuf,968.0,993.0,1013.0,1027.0,1056,1085.0,1114.0,1118.0,1134.0
1,115659,26,58,5808,58300,Urzy,1839.0,1835.0,1828.0,1802.0,1775,1749.0,1746.0,1747.0,1742.0
2,115660,43,70,7012,70137,Chassey-lès-Montbozon,218.0,217.0,216.0,215.0,217,215.0,215.0,220.0,225.0
3,115661,21,51,5123,51649,Vitry-le-François,13174.0,13144.0,12805.0,12552.0,12133,11743.0,11376.0,11458.0,11454.0
4,115662,11,78,7811,78638,Vaux-sur-Seine,4749.0,4715.0,4788.0,4857.0,4927,4929.0,5010.0,5020.0,5083.0

In [33]:
pd.merge(df_commune, df_pop, left_on='code_commune_INSEE', right_on='codgeo', how='inner').shape

(34374, 30)

In [34]:
df_communes_full = pd.merge(df_commune, df_pop, left_on='code_commune_INSEE', right_on='codgeo', how='inner')

### FACT_REPONSE

In [35]:
df_fact_reponse = pd.DataFrame()

In [36]:
df_fact_reponse['ID_LOG'] = np.arange(1, 100001)

In [39]:
df_fact_reponse['DATE_TIME'] = pd.date_range(start='01/01/2025', periods=100000, freq='h')

In [40]:
dim_reponse = pd.read_csv('./data/DIM_REPONSE.csv')

In [41]:
df_fact_reponse['KEY_REPONSE'] = np.random.choice(dim_reponse['KEY_REPONSE'], size=100000)

In [46]:
df_fact_reponse['ID_REPONDANT'] = np.random.choice(df_eleve['ID_ELEVE'].head(5000), size=100000)

In [47]:
df_fact_reponse.head()

   ID_LOG           DATE_TIME KEY_REPONSE ID_REPONDANT
0       1 2025-01-01 00:00:00     D_2_2_d       E02316
1       2 2025-01-01 01:00:00     C_2_1_b       E04580
2       3 2025-01-01 02:00:00    Pr_C_1_d       E02564
3       4 2025-01-01 03:00:00     D_1_2_h       E02966
4       5 2025-01-01 04:00:00     A_1_1_e       E02639

### EXPORT

In [48]:
df_eleve.to_csv('./data/DIM_ELEVE.csv', index=False)
df_classe.to_csv('./data/DIM_CLASSE.csv', index=False)
df_enseignant.to_csv('./data/DIM_ENSEIGNANT.csv', index=False)
df_etablissement.to_csv('./data/DIM_ETABLISSEMENT.csv', index=False)
df_communes_full.to_csv('./data/DIM_COMMUNE.csv', index=False)
df_fact_reponse.to_csv('./data/FACT_REPONSE.csv', index=False)