In [1]:
import pandas as pd

In [ ]:
xls = pd.ExcelFile('./data/REFERENTIEL_QUESTIONS.xlsx')

### QUESTIONS

In [3]:
df_question = pd.read_excel(xls, 'DIM_QUESTION')
display(df_question.head())
display(df_question.info())

,KEY,MACRO_CATEGORIE,CATEGORIE,LB_QUESTION,TYPE_QUESTION,FLG_QUESTION_MULTIPLE
0,A_1_1,MON COMPORTEMENT EN LIGNE,A1 - LES ECRANS,Quelle(s) activité(s) parmi les suivantes fais...,Pratiques,1.0
1,A_1_2,MON COMPORTEMENT EN LIGNE,A1 - LES ECRANS,Sur quels réseaux sociaux as-tu un profil ? Pl...,Pratiques,1.0
2,A_1_3,MON COMPORTEMENT EN LIGNE,A1 - LES ECRANS,Est-ce que ces situations s'appliquent à toi ?...,Risques,1.0
3,A_2_1,MON COMPORTEMENT EN LIGNE,A2 - LA RÉPUTATION EN LIGNE,Est-ce que l'une des choses suivantes t’es arr...,Victimisation,1.0
4,A_2_2,MON COMPORTEMENT EN LIGNE,A2 - LA RÉPUTATION EN LIGNE,PRIMAIRE: Laquelle ou lesquelles de ces façons...,Pratiques,1.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   KEY                    25 non-null     object
 1   MACRO_CATEGORIE        25 non-null     object
 2   CATEGORIE              25 non-null     object
 3   LB_QUESTION            25 non-null     object
 4   TYPE_QUESTION          24 non-null     object
 5   FLG_QUESTION_MULTIPLE  24 non-null     float64
dtypes: float64(1), object(5)
memory usage: 1.3+ KB

None

In [4]:
df_question.TYPE_QUESTION.value_counts()

TYPE_QUESTION
Pratiques             6
Réactions             4
Victimisation         3
Risques               3
Solutions             3
Cybervictimisation    2
Impact SM             2
Cyber-violence        1
Name: count, dtype: int64

In [5]:
df_question.FLG_QUESTION_MULTIPLE = df_question.FLG_QUESTION_MULTIPLE.astype(bool)

In [6]:
df_question.rename({'KEY':'KEY_QUESTION'}, axis = 1, inplace = True)

In [7]:
df_question.head()

,KEY_QUESTION,MACRO_CATEGORIE,CATEGORIE,LB_QUESTION,TYPE_QUESTION,FLG_QUESTION_MULTIPLE
0,A_1_1,MON COMPORTEMENT EN LIGNE,A1 - LES ECRANS,Quelle(s) activité(s) parmi les suivantes fais...,Pratiques,True
1,A_1_2,MON COMPORTEMENT EN LIGNE,A1 - LES ECRANS,Sur quels réseaux sociaux as-tu un profil ? Pl...,Pratiques,True
2,A_1_3,MON COMPORTEMENT EN LIGNE,A1 - LES ECRANS,Est-ce que ces situations s'appliquent à toi ?...,Risques,True
3,A_2_1,MON COMPORTEMENT EN LIGNE,A2 - LA RÉPUTATION EN LIGNE,Est-ce que l'une des choses suivantes t’es arr...,Victimisation,True
4,A_2_2,MON COMPORTEMENT EN LIGNE,A2 - LA RÉPUTATION EN LIGNE,PRIMAIRE: Laquelle ou lesquelles de ces façons...,Pratiques,True

### REPONSES

In [8]:
df_reponse = pd.read_excel(xls, 'DIM_REPONSE')
display(df_reponse.head())
display(df_reponse.info())

,KEY_QUESTION,KEY_REPONSE,ID_REPONSE,LB_REPONSE,TYPE_REPONSE,FLG_PRIMAIRE,FLG_SECONDAIRE
0,A_1_1,A_1_1_a,a,Jouer à des jeux vidéos en solo,SOLO,oui,oui
1,A_1_1,A_1_1_b,b,Jouer à des jeux vidéos avec des amis ou d'aut...,SOCIAL,oui,oui
2,A_1_1,A_1_1_c,c,Regarder des vidéos (streaming),SOLO,oui,oui
3,A_1_1,A_1_1_d,d,Partager des vidéos ou commenter sur les vidéo...,SOCIAL,oui,oui
4,A_1_1,A_1_1_e,e,M'informer sur ce que les autres font via mes ...,SOCIAL,oui,oui

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164 entries, 0 to 163
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   KEY_QUESTION    164 non-null    object
 1   KEY_REPONSE     164 non-null    object
 2   ID_REPONSE      164 non-null    object
 3   LB_REPONSE      164 non-null    object
 4   TYPE_REPONSE    126 non-null    object
 5   FLG_PRIMAIRE    146 non-null    object
 6   FLG_SECONDAIRE  163 non-null    object
dtypes: object(7)
memory usage: 9.1+ KB

None

In [9]:
df_reponse.FLG_PRIMAIRE = df_reponse.FLG_PRIMAIRE.astype(bool)
df_reponse.FLG_SECONDAIRE = df_reponse.FLG_SECONDAIRE.astype(bool)

In [10]:
df_reponse.drop('ID_REPONSE', axis = 1, inplace=True)

In [11]:
df_reponse.head()

,KEY_QUESTION,KEY_REPONSE,LB_REPONSE,TYPE_REPONSE,FLG_PRIMAIRE,FLG_SECONDAIRE
0,A_1_1,A_1_1_a,Jouer à des jeux vidéos en solo,SOLO,True,True
1,A_1_1,A_1_1_b,Jouer à des jeux vidéos avec des amis ou d'aut...,SOCIAL,True,True
2,A_1_1,A_1_1_c,Regarder des vidéos (streaming),SOLO,True,True
3,A_1_1,A_1_1_d,Partager des vidéos ou commenter sur les vidéo...,SOCIAL,True,True
4,A_1_1,A_1_1_e,M'informer sur ce que les autres font via mes ...,SOCIAL,True,True

### SCORE

In [12]:
df_score = pd.read_excel(xls, 'DIM_SCORE')
display(df_score.head())
display(df_score.info())

,MACRO_SEGMENT,SEGMENT,KEY,SCORE_PRIMAIRE,SCORE_SECONDAIRE
0,PRATIQUES ET PROFILS,UTILISATEUR vs NON-UTILISATEUR,A1-1-a,oui,oui
1,PRATIQUES ET PROFILS,UTILISATEUR vs NON-UTILISATEUR,A1-1- c,oui,oui
2,PRATIQUES ET PROFILS,UTILISATEUR vs NON-UTILISATEUR,A1-1-g,oui,oui
3,PRATIQUES ET PROFILS,UTILISATEUR vs NON-UTILISATEUR,A1-1-h,oui,oui
4,PRATIQUES ET PROFILS,UTILISATEUR vs NON-UTILISATEUR,A1-1-b,oui,oui

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171 entries, 0 to 170
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   MACRO_SEGMENT     171 non-null    object
 1   SEGMENT           171 non-null    object
 2   KEY               171 non-null    object
 3   SCORE_PRIMAIRE    138 non-null    object
 4   SCORE_SECONDAIRE  157 non-null    object
dtypes: object(5)
memory usage: 6.8+ KB

None

In [13]:
df_score = df_score[['KEY', 'MACRO_SEGMENT', 'SEGMENT', 'SCORE_PRIMAIRE', 'SCORE_SECONDAIRE']]

In [14]:
df_score.rename({'KEY':'KEY_REPONSE'}, axis = 1, inplace = True)

In [15]:
df_score.KEY_REPONSE = df_score.KEY_REPONSE.str.replace('-', '_')

In [16]:
df_score.KEY_REPONSE = df_score.KEY_REPONSE.str[0] + '_' + df_score.KEY_REPONSE.str[1:]

In [17]:
df_score.SCORE_PRIMAIRE.value_counts()

SCORE_PRIMAIRE
oui           114
1 point        10
(-1) point      6
0 point         3
2 points        2
3 points        2
4 points        1
Name: count, dtype: int64

In [18]:
df_score.SCORE_PRIMAIRE = df_score.SCORE_PRIMAIRE.fillna('0')
df_score.SCORE_PRIMAIRE = df_score.SCORE_PRIMAIRE.str.replace('oui', '1')
df_score.SCORE_PRIMAIRE = df_score.SCORE_PRIMAIRE.str.replace('(-1) point', '-1')
df_score.SCORE_PRIMAIRE = df_score.SCORE_PRIMAIRE.str.split(' ').str[0]
df_score.SCORE_PRIMAIRE = df_score.SCORE_PRIMAIRE.astype(int)

In [19]:
df_score.SCORE_PRIMAIRE.value_counts()

SCORE_PRIMAIRE
 1    124
 0     36
-1      6
 2      2
 3      2
 4      1
Name: count, dtype: int64

In [20]:
df_score.SCORE_SECONDAIRE.value_counts()

SCORE_SECONDAIRE
oui           128
1 point        11
(-1) point      6
0 point         3
2 points        3
3 points        3
4 points        3
Name: count, dtype: int64

In [21]:
df_score.SCORE_SECONDAIRE = df_score.SCORE_SECONDAIRE.fillna('0')
df_score.SCORE_SECONDAIRE = df_score.SCORE_SECONDAIRE.str.replace('oui', '1')
df_score.SCORE_SECONDAIRE = df_score.SCORE_SECONDAIRE.str.replace('(-1) point', '-1')
df_score.SCORE_SECONDAIRE = df_score.SCORE_SECONDAIRE.str.split(' ').str[0]
df_score.SCORE_SECONDAIRE = df_score.SCORE_SECONDAIRE.astype(int)

In [22]:
df_score.SCORE_SECONDAIRE.value_counts()

SCORE_SECONDAIRE
 1    139
 0     17
-1      6
 2      3
 3      3
 4      3
Name: count, dtype: int64

In [23]:
df_score.head()

,KEY_REPONSE,MACRO_SEGMENT,SEGMENT,SCORE_PRIMAIRE,SCORE_SECONDAIRE
0,A_1_1_a,PRATIQUES ET PROFILS,UTILISATEUR vs NON-UTILISATEUR,1,1
1,A_1_1_ c,PRATIQUES ET PROFILS,UTILISATEUR vs NON-UTILISATEUR,1,1
2,A_1_1_g,PRATIQUES ET PROFILS,UTILISATEUR vs NON-UTILISATEUR,1,1
3,A_1_1_h,PRATIQUES ET PROFILS,UTILISATEUR vs NON-UTILISATEUR,1,1
4,A_1_1_b,PRATIQUES ET PROFILS,UTILISATEUR vs NON-UTILISATEUR,1,1

### EXPORT

In [ ]:
df_score.to_csv('./data/DIM_SCORE.csv', index=False)
df_reponse.to_csv('./data/DIM_REPONSE.csv', index=False)
df_question.to_csv('./data/DIM_QUESTION.csv', index=False)