In [1]:
import pandas as pd

In [25]:
pd.set_option('display.max_columns', None)

In [104]:
# Load csv files
dim_etablissement = pd.read_csv('data/DIM_ETABLISSEMENT.csv')
dim_commune = pd.read_csv('data/DIM_COMMUNE.csv')
dim_classe = pd.read_csv('data/DIM_CLASSE.csv')
dim_enseignant = pd.read_csv('data/DIM_ENSEIGNANT.csv')
dim_eleve = pd.read_csv('data/DIM_ELEVE.csv')
fact_reponse = pd.read_csv('data/FACT_REPONSE.csv')
dim_reponse = pd.read_csv('data/DIM_REPONSE.csv')
dim_score = pd.read_csv('data/DIM_SCORE.csv')
dim_question = pd.read_csv('data/DIM_QUESTION.csv')

/var/folders/nm/mqx1s9256r3593p7fb917h1r0000gn/T/ipykernel_59011/32566966.py:3: DtypeWarning: Columns (0,11,17,18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  dim_commune = pd.read_csv('data/DIM_COMMUNE.csv')

In [105]:
dim_etablissement.head(3)

  ID_ETABLISSEMENT     TYPE  ZIPCODE  ACADEMIE  NB_ELEVES
0           ETAB01    ecole    26875  Toulouse        371
1           ETAB02  college    84911      Lyon        685
2           ETAB03    lycee    14263      Lyon        278

In [106]:
dim_commune.head(3)

,code_commune_INSEE,nom_commune_postal,code_postal,libelle_acheminement,ligne_5,latitude,longitude,code_commune,article,nom_commune,nom_commune_complet,code_departement,nom_departement,code_region,nom_region,objectid,reg,dep,cv,codgeo,libgeo,p13_pop,p14_pop,p15_pop,p16_pop,p17_pop,p18_pop,p19_pop,p20_pop,p21_pop
0,10002,AILLEVILLE,10200,AILLEVILLE,NaN,48.255000,4.694493,2.0,NaN,Ailleville,Ailleville,10,Aube,44.0,Grand Est,123316,21,10,1003,10002,Ailleville,269.0,265.0,262.0,258.0,251,244.0,237.0,232.0,227.0
1,10003,AIX VILLEMAUR PALIS,10160,AIX VILLEMAUR PALIS,NaN,48.197575,3.736328,3.0,NaN,Aix-Villemaur-Pâlis,Aix-Villemaur-Pâlis,10,Aube,44.0,Grand Est,131609,21,10,1001,10003,Aix-en-Othe,2463.0,3600.0,3583.0,3569.0,3554,3547.0,3546.0,3537.0,3437.0
2,10003,AIX VILLEMAUR PALIS,10190,AIX VILLEMAUR PALIS,PALIS,48.197575,3.736328,3.0,NaN,Aix-Villemaur-Pâlis,Aix-Villemaur-Pâlis,10,Aube,44.0,Grand Est,131609,21,10,1001,10003,Aix-en-Othe,2463.0,3600.0,3583.0,3569.0,3554,3547.0,3546.0,3537.0,3437.0

In [107]:
dim_classe.head(3)

  ID_CLASSE  NB_ELEVES NIVEAU
0      C001         17    CM2
1      C002         19     CP
2      C003         10    CE1

In [108]:
dim_enseignant.head(3)

  ID_ENSEIGNANT ID_ETABLISSEMENT
0        ENS001           ETAB02
1        ENS002           ETAB01
2        ENS003           ETAB05

In [109]:
dim_eleve.head(3)

  ID_ELEVE GENRE  AGE NIVEAU ID_PARENT
0   E00001     m   14   2nde     P4647
1   E00002     f   12   6ème     P2149
2   E00003     f   11   1ère     P3650

In [110]:
fact_reponse.head(3)

   ID_LOG KEY_REPONSE ID_REPONDANT   DATE_TIME
0   94865     B_3_1_h       E03616  2025-07-08
1   89205     A_1_3_b       E01099  2025-04-01
2   16560     D_2_2_c       E02115  2025-07-16

In [111]:
dim_reponse.head(3)

,KEY_QUESTION,KEY_REPONSE,ID_REPONSE,LB_REPONSE,TYPE_REPONSE,FLG_PRIMAIRE,FLG_SECONDAIRE
0,A_1_1,A_1_1_a,a,Jouer à des jeux vidéos en solo,SOLO,oui,oui
1,A_1_1,A_1_1_b,b,Jouer à des jeux vidéos avec des amis ou d'aut...,SOCIAL,oui,oui
2,A_1_1,A_1_1_c,c,Regarder des vidéos (streaming),SOLO,oui,oui

In [112]:
dim_score.head(3)

,KEY_REPONSE,MACRO_SEGMENT,SEGMENT,SCORE_PRIMAIRE,SCORE_SECONDAIRE
0,A_1_1_a,PRATIQUES ET PROFILS,UTILISATEUR vs NON-UTILISATEUR,1,1
1,A_1_1_ c,PRATIQUES ET PROFILS,UTILISATEUR vs NON-UTILISATEUR,1,1
2,A_1_1_g,PRATIQUES ET PROFILS,UTILISATEUR vs NON-UTILISATEUR,1,1

In [113]:
dim_question.head(3)

,KEY_QUESTION,MACRO_CATEGORIE,CATEGORIE,LB_QUESTION,TYPE_QUESTION,FLG_QUESTION_MULTIPLE
0,A_1_1,MON COMPORTEMENT EN LIGNE,A1 - LES ECRANS,Quelle(s) activité(s) parmi les suivantes fais...,Pratiques,True
1,A_1_2,MON COMPORTEMENT EN LIGNE,A1 - LES ECRANS,Sur quels réseaux sociaux as-tu un profil ? Pl...,Pratiques,True
2,A_1_3,MON COMPORTEMENT EN LIGNE,A1 - LES ECRANS,Est-ce que ces situations s'appliquent à toi ?...,Risques,True

In [152]:
tmp_df = fact_reponse.merge(dim_eleve, left_on='ID_REPONDANT',right_on='ID_ELEVE', how='inner').drop(columns=['ID_REPONDANT']).\
    merge(dim_reponse, on='KEY_REPONSE', how='inner'). \
    merge(dim_question, on='KEY_QUESTION', how='inner'). \
    merge(dim_score, on='KEY_REPONSE', how='left')

In [159]:
tmp_df[tmp_df.MACRO_SEGMENT.isnull()].KEY_QUESTION.unique()

array(['B_3_1', 'A_1_3', 'D_2_2', 'A_2_1', 'C_3_2', 'A_1_2', 'D_3_2',
       'D_2_1', 'D_3_1', 'D_1_1', 'A_3_2', 'D_1_2', 'A_1_1'], dtype=object)

Ce sont les questions qui ne font pas partie des critères `cyberviolence` identifiés dans l'Excel dans l'onglet `Critères Cyberviolence`

In [161]:
print(tmp_df.shape[0])

123030

On récupère plus de lignes que les 100k initiales issues du data generation process puisque dans les `Critères Cyberviolences` certaines réponses attributent des points à plusieurs critères

In [ ]:
#.merge(dim_classe, on='ID_CLASSE', how='inner') \
    #.merge(dim_etablissement, on='ID_ETABLISSEMENT', how='inner') \
    #.merge(dim_commune, on='ZIPCODE', how='inner') \
    #.merge(dim_enseignant, on='ID_CLASSE', how='inner') \

`ID_CLASSE` n'est pas disponibl dans la table `dim_eleve` et donc les jointures avec `dim-classe`, `dim_etablissement`,
`dim_commune` et `dim_enseignant` ne sont pas réalisables pour l'instant

In [167]:
# Jointures
df = fact_reponse.merge(dim_eleve, left_on='ID_REPONDANT',right_on='ID_ELEVE', how='inner').drop(columns=['ID_REPONDANT']) \
    .merge(dim_reponse, on='KEY_REPONSE', how='inner') \
    .merge(dim_question, on='KEY_QUESTION', how='inner') \
    .merge(dim_score, on='KEY_REPONSE', how='inner')

,ID_LOG,KEY_REPONSE,DATE_TIME,ID_ELEVE,GENRE,AGE,NIVEAU,ID_PARENT,KEY_QUESTION,ID_REPONSE,LB_REPONSE,TYPE_REPONSE,FLG_PRIMAIRE,FLG_SECONDAIRE,MACRO_CATEGORIE,CATEGORIE,LB_QUESTION,TYPE_QUESTION,FLG_QUESTION_MULTIPLE,MACRO_SEGMENT,SEGMENT,SCORE_PRIMAIRE,SCORE_SECONDAIRE
0,75703,B_2_2_a,2025-01-16,E00481,m,11,Terminale,P1825,B_2_2,a,troublé (surpris),NÉGATIF,oui,oui,LES PROBLEMATIQUES EN LIGNE,B2-CONTENUS CHOQUANTS,Si tu as rencontré les contenus mentionnés pré...,Réactions,True,RÉACTIONS ET STRATÉGIES,SURPRISE,1,1
1,34604,C_3_1_d,2025-06-25,E00456,f,9,6ème,P4248,C_3_1,d,J'interagis avec toutes les personnes que je c...,AMIS,oui,oui,C- MA PLACE DANS LE MONDE NUMERIQUE,C3 - LES AMITIES EN LIGNE,As-tu des amis en ligne? Choisis la réponse qu...,Risques,False,PRATIQUES ET PROFILS,UTILISATEUR SOCIAL,1,1
2,34604,C_3_1_d,2025-06-25,E00456,f,9,6ème,P4248,C_3_1,d,J'interagis avec toutes les personnes que je c...,AMIS,oui,oui,C- MA PLACE DANS LE MONDE NUMERIQUE,C3 - LES AMITIES EN LIGNE,As-tu des amis en ligne? Choisis la réponse qu...,Risques,False,PRATIQUES ET PROFILS,SOCIALISATION EN LIGNE,3,3
3,34604,C_3_1_d,2025-06-25,E00456,f,9,6ème,P4248,C_3_1,d,J'interagis avec toutes les personnes que je c...,AMIS,oui,oui,C- MA PLACE DANS LE MONDE NUMERIQUE,C3 - LES AMITIES EN LIGNE,As-tu des amis en ligne? Choisis la réponse qu...,Risques,False,PRATIQUES ET PROFILS,PRATIQUES À RISQUE,1,1
4,34604,C_3_1_d,2025-06-25,E00456,f,9,6ème,P4248,C_3_1,d,J'interagis avec toutes les personnes que je c...,AMIS,oui,oui,C- MA PLACE DANS LE MONDE NUMERIQUE,C3 - LES AMITIES EN LIGNE,As-tu des amis en ligne? Choisis la réponse qu...,Risques,False,PRATIQUES ET PROFILS,PROFIL SAIN VS À RISQUE,-1,-1

In [168]:
df.head()

,ID_LOG,KEY_REPONSE,DATE_TIME,ID_ELEVE,GENRE,AGE,NIVEAU,ID_PARENT,KEY_QUESTION,ID_REPONSE,LB_REPONSE,TYPE_REPONSE,FLG_PRIMAIRE,FLG_SECONDAIRE,MACRO_CATEGORIE,CATEGORIE,LB_QUESTION,TYPE_QUESTION,FLG_QUESTION_MULTIPLE,MACRO_SEGMENT,SEGMENT,SCORE_PRIMAIRE,SCORE_SECONDAIRE
0,75703,B_2_2_a,2025-01-16,E00481,m,11,Terminale,P1825,B_2_2,a,troublé (surpris),NÉGATIF,oui,oui,LES PROBLEMATIQUES EN LIGNE,B2-CONTENUS CHOQUANTS,Si tu as rencontré les contenus mentionnés pré...,Réactions,True,RÉACTIONS ET STRATÉGIES,SURPRISE,1,1
1,34604,C_3_1_d,2025-06-25,E00456,f,9,6ème,P4248,C_3_1,d,J'interagis avec toutes les personnes que je c...,AMIS,oui,oui,C- MA PLACE DANS LE MONDE NUMERIQUE,C3 - LES AMITIES EN LIGNE,As-tu des amis en ligne? Choisis la réponse qu...,Risques,False,PRATIQUES ET PROFILS,UTILISATEUR SOCIAL,1,1
2,34604,C_3_1_d,2025-06-25,E00456,f,9,6ème,P4248,C_3_1,d,J'interagis avec toutes les personnes que je c...,AMIS,oui,oui,C- MA PLACE DANS LE MONDE NUMERIQUE,C3 - LES AMITIES EN LIGNE,As-tu des amis en ligne? Choisis la réponse qu...,Risques,False,PRATIQUES ET PROFILS,SOCIALISATION EN LIGNE,3,3
3,34604,C_3_1_d,2025-06-25,E00456,f,9,6ème,P4248,C_3_1,d,J'interagis avec toutes les personnes que je c...,AMIS,oui,oui,C- MA PLACE DANS LE MONDE NUMERIQUE,C3 - LES AMITIES EN LIGNE,As-tu des amis en ligne? Choisis la réponse qu...,Risques,False,PRATIQUES ET PROFILS,PRATIQUES À RISQUE,1,1
4,34604,C_3_1_d,2025-06-25,E00456,f,9,6ème,P4248,C_3_1,d,J'interagis avec toutes les personnes que je c...,AMIS,oui,oui,C- MA PLACE DANS LE MONDE NUMERIQUE,C3 - LES AMITIES EN LIGNE,As-tu des amis en ligne? Choisis la réponse qu...,Risques,False,PRATIQUES ET PROFILS,PROFIL SAIN VS À RISQUE,-1,-1